* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

html {
    scroll-behavior: smooth;
}

body {
    background: #fafbfa;
}

ul {
    list-style-type: none;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: inherit;
}
